@media screen and (max-width:768px)  {
    #first-sec {
        display: none;
    }
    .slider-info{
        h2{
            font-size: 19px !important;
        }
    }
    .fif-product-out{
        width: 25%;
    }
    .fif-product{
        .fif-pr{
            
            h5{
                font-size: 14px;
            }
        }
        .fif-pr i{
            font-size: 30px !important;
        }
    }
    .six-product-out{
        width: 48%;
    }
    .service-out {
        width: 48% !important;
        margin-bottom: 20px;
        .service{
            min-height: 350px !important;
           }
       }
       .advertisement{
        .poster1{
            .info{
                width: 50%;
                top: 25% !important;
                h2{
                    font-size: 15px;
                    
                }
               h3{
                font-size: 10px !important;
               }
               .advshop{
font-size: 10px !important;
               }
            }
        }
       }
       #submit{
        text-align: center !important;
        font-size: 10px !important;
        width: 50% !important;
       }
       .sorting{
        width: 50%;
       }
       #productssort{
        font-size: 10px;
       }
       .products-header{
        flex-direction: column;
       }
       .filterrow{
        margin-bottom: 20px;
       }
       .profemail{
        span{
            font-size: 23px !important;

        }
       }
       .ss-input{
        margin-block: 20px;
       }
      .ss-logo{
        div{
            display: flex;
            justify-content: center;
            img{
                width: 144px;
            }
        }
      }
      #fifth-section{
        padding-block: 20px 40px !important;
      }
      #slidersec{
        padding-block: 10px !important;
      }
      .mobile-container{
        display: block !important;
      }
      .ss-others{
        display: none;
      }
      .ss-logo{
        display: none;
      }
}
.mobile-container{
    display: none;
  }

@media screen and (max-width:992px) and (min-width:768px) {
    #first-sec {
        display: none;
    }
   .swiper-slide .slider-info{
        h2{
            font-size: 40px;
        }
    }
    .fif-product-out{
        width: 25%;
    }
    .fif-product{
        .fif-pr{
            
            h5{
                font-size: 14px;
            }
        }
        .fif-pr i{
            font-size: 30px !important;
        }
    }
    .six-product-out{
        width: 43%;
    }
   .service-out {
    width: 30% !important;
    margin-bottom: 20px;
    .service{
        min-height: 250px !important;
       }
   }
   .advertisement{
    .poster1{
        .info{
            top: 25% !important;
            h2{
                font-size: 30px;
            }
           
        }
    }
   }
  

}
