.ss-icon {
    position: relative;

    span {
        position: absolute;
        top: -1%;
        right: 1%;
        z-index: 10;
        color: rgb(119 119 119);
        font-size: 14px;
        padding: 1.5px;
        font-weight: 600;
        
    }
   
}


#cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    
}