.favlist{
    padding-bottom: 120px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.six-product{
    min-height: 440px;
}