#services {
    padding-block: 70px;
    .header{
        flex-direction: column;
        h1{
            padding-top: 5px
        }
        p{
            padding-block: 20px

        }
        span{
            color: rgb(92 175 144);
        }
    }
    .service-out{
        height: fit-content;
        width: 24%;
        .service{
            min-height: 240px;
            padding: 30px;
            width: 100%;
            border: 1px solid #e5e7eb;
            text-align: center;
            div{
                font-size: 40px;
                color: rgb(92 175 144);
            }
            h3{
font-weight: 500;
padding-block: 5px;
            }
        }
    }
    
}