.backtotop{
    position: fixed;
    z-index: 100;
    right: 1%;
    bottom: 1%;
    background-color: rgb(0, 128, 102);
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 10px;
    #backtop{
        color: #fff;
        
 
}}